@inherits LayoutComponentBase

<PageTitle>MastermindChallenge.Blazor.Server</PageTitle>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <AuthorizeView>
                <Authorized>
                    <div class="top-row px-4">
                        <p>Logged in as: @context.User?.Identity?.Name</p>
                    </div>
                </Authorized>
                <NotAuthorized>
                <div class="top-row px-4">
                    <p>Not logged in</p>
                </div>
                </NotAuthorized>
            </AuthorizeView>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
